.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# files from uv
.python-version
pyproject.toml
uv.lock

# data
/visEval_dataset

# Logs
*.log
agent_logs.txt
evaluate_logs*/
api_trace.json

# Temporary files
*.svg
temp_*.svg